Exact Time	= 	{{ ansible_date_time.date }}-{{ ansible_date_time.time }}
Architecture	=	{{ ansible_architecture }}
IP Address	=	{{ ansible_default_ipv4.address }}
OS		=	{{ ansible_distribution }}
Kernel Version	=	{{ ansible_kernel }} 
Free Memory	=	{{ ansible_memory_mb.real.free }}
Python Version	=	{{ ansible_python_version }}
                       

